body {
  background: #272044;
  font-family: "Poppins";
  text-align: center;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/bali-header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  color: #ffffff;
  margin: 0auto;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: capitalize;
  line-height: 1;
  margin: 0;
}

header h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
  padding: 20px 15px;
}

header a {
  display: inline-block;
  padding: 16px 32px;
  background: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  background: rgb(195, 252, 248);
  color: #272044;
  transition: ease-in 200ms;
}

main {
  background: whitesmoke;
}

section {
  max-width: 1200px;
  margin: 0auto;
  padding: 100px 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/bali-footer.jpeg");
  font-family: "Poppins";
  font-style: normal;
  color: white;
}

footer li {
  list-style: none;
}

footer a {
  color: whitesmoke;
  text-transform: capitalize;
}

footer a:hover {
  color: antiquewhite;
  text-decoration: none;
}

footer h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-decoration: underline;
  text-transform: uppercase;
}

footer p {
  opacity: 0.6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.responsive-img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-why-bali {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-why-bali img {
  height: 300px;
  padding: 20px 10px;
}

.grid-why-bali h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272044;
  margin: 0auto;
}

.grid-why-bali h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  margin: 0auto;
}

.grid-why-bali p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.9;
  padding: 30px;
}

.card-grid {
}

.card-grid img {
}

.card-grid h5 {
}

.card-grid p {
}

.card-grid a {
}

.grid-3col {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: white;
  margin: 10px;
  text-align: left;
}

.grid-3col a {
}

.grid-3col p {
  margin: 20px 10px;
}

.git-hub-footer {
  font-size: 15px;
  opacity: 0.4;
  color: aquamarine;
  text-transform: capitalize;
}

.git-hub-footer a {
  text-decoration: none;
}

.git-hub-footer a:hover {
  text-decoration: underline;
  color: aquamarine;
}

@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 15px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
